* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size-base;
  color: #555;
}

.color-xanh {
  color: $colorXanh !important;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.social-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #0f6038;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f6038;
  font-size: 18px;
  transition: 0.25s ease-in-out;
  text-decoration: none;

  &:hover {
    background: #0f6038;
    color: #fff;
  }
}

.section {
  padding: 80px 0;
}

.heading_line {
  width: 50px;
  height: 4px;
  background-color: $colorXanh;
  margin: 0 auto 16px;
  border-radius: 4px;
}

/* ===== BUTTON ===== */
.btn_primary {
  display: block;
  width: fit-content;
  padding: 12px 28px;
  background: #0f6038;
  color: #fff;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

.btn_submit {
  padding: 16px 40px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #9acb45, #006837);
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
  }
}

.btn_outline {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 20px;
  border: 1px solid #0f6038;
  color: #0f6038;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  &:hover {
    background: $colorXanh;
    color: white;
  }
}
/* ===== END BUTTON ===== */

.line_2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line_3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.block_list {
  .block_list_item {

  }
}

/* swiper slider */
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 !important;
    opacity: 1;
    background: rgba(15,106,58,.25);
  }
  .swiper-pagination-bullet-active {
    background: #0f6a3a;
  }
}
.swiper-wrapper {
  .swiper-slide {
    height: auto;
  }
}
/* end swiper slider */

.sp {
  display: none;
}
.pc {
  display: block;
}

.text-white {
  color: white;
}

section .doctor_heading {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 1023px) {
  .section {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .btn_outline {
    padding: 8px 12px;
    border-radius: 8px;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}

@media (max-width: 575px) {
}
