* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size-base;
}

.color-xanh {
  color: $colorXanh !important;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.social-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #0f6038;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f6038;
  font-size: 18px;
  transition: 0.25s ease-in-out;
  text-decoration: none;

  &:hover {
    background: #0f6038;
    color: #fff;
  }
}

.section {
  padding: 80px 0;
}

.heading_line {
  width: 50px;
  height: 4px;
  background-color: $colorXanh;
  margin: 0px auto 16px;
}

.btn_no_bg {
  padding: 12px 20px;
  background: white;
  border: 1px solid $colorXanh;
  border-radius: 16px;
  margin: 0 auto;
  color: $colorXanh;
  text-decoration: none;
  display: block;
  width: fit-content;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 1023px) {
  .section {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 575px) {
}
