// Biến màu
$colorXanh : #026835;
$primary-color: #1e88e5;
$primary-dark:  #1565c0;
$bg-color:      #f5f5f5;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$font-size-base: 14px;
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.text_xanh {
  color: $colorXanh;
}
.text_center {
  text-align: center;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 32px;
  letter-spacing: -0.2px;
}

h3 {
  font-size: 24px;
  letter-spacing: 0;
}

@media (max-width: 767.98px) {
  h1 { font-size: 32px; }
  h2 { font-size: 26px; }
  h3 { font-size: 20px; }
}

@media (max-width: 575.98px) {
  h1 { font-size: 28px; }
  h2 { font-size: 22px; }
  h3 { font-size: 18px; }
}
