// Biến màu
$primary-color: #1e88e5;
$primary-dark:  #1565c0;
$bg-color:      #f5f5f5;

.section_khung {
  img {
    border-radius: 24px;
    width: 100%;
  }
}

.news {
  img {
    border-radius: 12px;
    height: 180px;
    width: 100%;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    color: #0f6038;
    line-height: 1.4;
  }
  .des {
    text-align: justify;
    color: #555;
    line-height: 1.6;
  }
  .more {
    a {
      font-size: 16px;
      font-weight: 500;
    }
    i:hover {
      cursor: pointer;
    }
  }
}


/* ===== SECTION ===== */
.health_layout {
  display: grid;
  grid-template-columns: 320px 1fr; /* trái hẹp – phải rộng */
  gap: 40px;
  align-items: flex-start;
}

.health_heading {
  .heading_line {
    text-align: left;
    margin: 32px 0 24px 0px;
  }
}

.health_heading h2 {
  font-size: 32px;
  font-weight: 700;
}

.health_heading p {
  margin-top: 16px;
  color: #555;
  line-height: 1.6;
}

.heading_line {
  width: 48px;
  height: 4px;
  background: #0f6038;
  border-radius: 4px;
  margin-top: 12px;
}

/* ===== GRID LIST ===== */
.health_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px;
}

/* ===== CARD ===== */
.health_card {
  background: #f7f7f7;
  border-radius: 14px;
  padding: 14px;
  display: grid;
  gap: 12px;
}

.health_thumb img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 14px;
}

.health_title {
  font-size: 18px;
  font-weight: 700;
  color: #0f6038;
  line-height: 1.4;
}

.health_desc {
  color: #555;
  line-height: 1.6;
}

.health_action {
  .btn_outline {

  }
}

.section_press {
  .section_press_main {
    margin: 40px 0;
    display: grid;
    grid-template-columns:  repeat(3, 1fr) auto;
    gap: 24px;
    align-items: center;
    .press_item {
      border: 1px solid $colorXanh;
      padding: 16px;
      border-radius: 16px;
      display: grid;
      gap: 12px;
    }
  }
  .btn_outline {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1023px) {
  .health_section {
    .health_heading {
      .heading_line {
        margin: 12px auto 16px;
      }
    }
    .health_action {
      .btn_outline {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 991px) {
  .health_section {
    .health_layout {
      grid-template-columns: 1fr;
      .health_heading {
        text-align: center;
      }
      .health_list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
  .section_press {
    .news {
      img {
        height: 125px;
      }
    }
  }
}

@media (max-width: 767px) {
  .health_section {
    .health_layout {
      .health_list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      .health_card {
        padding: 12px;
        border-radius: 8px;
      }
    }
  }
  .section_press {
    .section_press_main {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 20px;
      .press_item {
        padding: 16px;
        border-radius: 16px;
      }
    }
    .news {
      img {
        height: 150px;
      }
      .title {
        font-size: 14px;
      }
      .more a {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 575px) {
  .section_press {
    .section_press_main {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;

      .press_item {
        padding: 12px;
        border-radius: 8px;
      }
    }
    .news {
      img {
        height: 80px;
      }
    }
  }
}

