// Biến màu
$primary-color: #1e88e5;
$primary-dark:  #1565c0;
$bg-color:      #f5f5f5;

.section_khung {
  img {
    border-radius: 24px;
    width: 100%;
  }
}

.news {
  img {
    border-radius: 12px;
    height: 180px;
    width: 100%;
    margin-bottom: 8px;
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0 12px 0;
    display: inline-block;
  }
  .des {
    margin-bottom: 12px;
    display: inline-block;
    text-align: justify;
  }
  .more {
    a {
      font-size: 16px;
      font-weight: 500;
    }
    i:hover {
      cursor: pointer;
    }
  }
}

.section_press {
  padding-top: 0;
  .section_press_main {
    margin: 40px 0;
    display: grid;
    grid-template-columns:  repeat(3, 1fr) auto;
    gap: 24px;
    align-items: center;
    .press_item {
      border: 1px solid $colorXanh;
      padding: 16px;
      border-radius: 16px;
    }
  }
}

